body {
  background: rgb(5, 4, 14);
  background-size: 100%;
}

#timer-1 {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.value {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
